service firebase.storage {
  match /b/{bucket}/o {
    match /exportData {
      // Only allow access to exported data by the user who requested an export
      match /{uid} {
        allow read, write: if request.auth.uid == uid
      }
      match /{uid}/{path=**} {
        allow read, write: if request.auth.uid == uid
      }
  	}
    // Other application rules
    match /{uid}/{path=**} {
      allow read, write: if request.auth.uid == uid
    }
  }
}
